@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Dosis;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}
label {
  text-align: left;
}
.container {
  width: min(100% - 2rem, 60rem);
  margin-inline: auto;
 /*  height: calc(100vh - 60px); */
  margin-top: 90px;
}

.error-msg{
  color: red;
}